@model Jamstack.On.Dotnet.Models.LandingPage

    <article>
        <h1 class="append-dot">@Model.Headline</h1>
        <div class="summary">
            Praesent egestas neque eu enim. Vivamus laoreet. Nunc egestas, augue at pellentesque laoreet, felis eros vehicula leo, at malesuada velit leo quis pede. Phasellus volutpat, metus eget egestas mollis, lacus lacus blandit dui, id egestas quam mauris ut lacus. Praesent metus tellus, elementum eu, semper a, adipiscing nec, purus.
        </div>
        <section class="two-columns">
            <div class="content">
                <h2 class="append-dot">Test</h2>
                <p>
                    Praesent egestas neque eu enim. Vivamus laoreet. Nunc egestas, augue at pellentesque laoreet, felis eros vehicula leo, at malesuada velit leo quis pede. Phasellus volutpat, metus eget egestas mollis, lacus lacus blandit dui, id egestas quam mauris ut lacus. Praesent metus tellus, elementum eu, semper a, adipiscing nec, purus.
                </p>
            </div>
            <div class="image">
                <img src="https://assets-us-01.kc-usercontent.com:443/561c4b7b-95a6-0021-9ac3-b3ba96ae14b4/dba399d8-cc3a-4673-a835-2a27dee94eae/In-Context_Editor.png?w=1440&amp;auto=format" srcset="https://assets-us-01.kc-usercontent.com:443/561c4b7b-95a6-0021-9ac3-b3ba96ae14b4/dba399d8-cc3a-4673-a835-2a27dee94eae/In-Context_Editor.png?auto=format 2x" alt="Manage content within the context of your website." width="1440" loading="lazy">
            </div>
        </section>
        <section class="two-columns">

            <div class="image">
                <img src="https://assets-us-01.kc-usercontent.com:443/561c4b7b-95a6-0021-9ac3-b3ba96ae14b4/dba399d8-cc3a-4673-a835-2a27dee94eae/In-Context_Editor.png?w=1440&amp;auto=format" srcset="https://assets-us-01.kc-usercontent.com:443/561c4b7b-95a6-0021-9ac3-b3ba96ae14b4/dba399d8-cc3a-4673-a835-2a27dee94eae/In-Context_Editor.png?auto=format 2x" alt="Manage content within the context of your website." width="1440" loading="lazy">
            </div>
            <div class="content">
                <h2 class="append-dot">Test</h2>
                <p>
                    Praesent egestas neque eu enim. Vivamus laoreet. Nunc egestas, augue at pellentesque laoreet, felis eros vehicula leo, at malesuada velit leo quis pede. Phasellus volutpat, metus eget egestas mollis, lacus lacus blandit dui, id egestas quam mauris ut lacus. Praesent metus tellus, elementum eu, semper a, adipiscing nec, purus.
                </p>
            </div>
        </section>
        <section class="two-columns">
            <div class="content">
                <h2 class="append-dot">Test</h2>
                <p>
                    Praesent egestas neque eu enim. Vivamus laoreet. Nunc egestas, augue at pellentesque laoreet, felis eros vehicula leo, at malesuada velit leo quis pede. Phasellus volutpat, metus eget egestas mollis, lacus lacus blandit dui, id egestas quam mauris ut lacus. Praesent metus tellus, elementum eu, semper a, adipiscing nec, purus.
                </p>
            </div>
            <div class="image">
                <img src="https://assets-us-01.kc-usercontent.com:443/561c4b7b-95a6-0021-9ac3-b3ba96ae14b4/dba399d8-cc3a-4673-a835-2a27dee94eae/In-Context_Editor.png?w=1440&amp;auto=format" srcset="https://assets-us-01.kc-usercontent.com:443/561c4b7b-95a6-0021-9ac3-b3ba96ae14b4/dba399d8-cc3a-4673-a835-2a27dee94eae/In-Context_Editor.png?auto=format 2x" alt="Manage content within the context of your website." width="1440" loading="lazy">
            </div>
        </section>
    </article>