<!DOCTYPE html>
<html lang="en">
<head>
    <title>Test title</title>
    <link rel="stylesheet" href="@IExecutionContext.Current.GetLink("/assets/styles/main.css")" />

</head>
<body class="dark">
    <div class="layout">
        @RenderBody()
    </div>
</body>
</html>