@font-face {
    font-family: "GT-Walsheim";
    src: url('/assets/fonts/GT-Walsheim-Bold.woff2') format('woff2'), url('/assets/fonts/GT-Walsheim-Bold.woff') format('woff'), url('/assets/fonts/GT-Walsheim-Bold.eot') format('embedded-opentype'), url('/assets/fonts/GT-Walsheim-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "GT-Walsheim";
    src: url('/assets/fonts/GT-Walsheim-Regular.woff') format('woff2'), url('/assets/fonts/GT-Walsheim-Regular.woff') format('woff'), url('/assets/fonts/GT-Walsheim-Regular.eot') format('embedded-opentype'), url('/assets/fonts/GT-Walsheim-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}