/// <reference path="_variables.scss" />

html, body {
    margin: 0;
    padding: 0;
    font-family: $typography-font-family;
    text-align: center;
    overflow-x: hidden;
    background-color: $color-base;
    color: $color-primary;

    &.dark {
        background-color: $color-dark-base;
        color: $color-dark-primary;

        header {
            nav {
                ol, ul {
                    li {
                        a {
                            color: $color-dark-primary;
                            transition: color 0.5s;

                            &:hover {
                                color: $color-kontent-orange-dark;
                            }
                        }
                    }
                }
            }
        }

        .secondary {
            color: $color-dark-secondary;
        }

        .button {
            a {
                color: $color-dark-primary;
                border-color: $color-dark-primary;
                transition: all 0.5s;

                &:hover {
                    background-color: $color-kontent-white;
                    color: $color-kontent-black-100;
                }
            }

            &.primary {
                a {
                    color: $color-kontent-white;
                    background-color: $color-kontent-orange;
                    border: none;
                    transition: background-color 0.5s;

                    &:hover {
                        background-color: $color-kontent-orange-dark;
                    }
                }
            }
        }

        .code-snippet {
            :not(pre) > code[class*="language-"],
            pre[class*="language-"] {
                background-color: $color-dark-base;
                border-color: $color-base;
            }
        }

        table {
            tbody {

                & > tr:first-child {
                    border-color: $color-dark-secondary;
                }
            }
        }

        footer {
            background-color: $color-dark-base-secondary;
            color: $color-dark-primary;
            margin-top: 12em;

            @media screen and (max-width: 1024px) {
                margin-top: 10em;
            }


            @media screen and (max-width: 790px) {
                margin-top: 6.5em;
            }

            @media screen and (max-width: 550px) {
                margin-top: 4em;
            }
        }
    }

    header {
        max-width: 1350px;
        padding-top: 4em;
        text-align: left;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;

        @media screen and (max-width: 1024px) {
            padding-top: 2em;

            nav {
                display: none;
            }
        }

        @media screen and (max-width: 640px) {
            padding-top: .5em;
        }

        .logo {
            padding: 1em;

            .title {
                font-size: 2em;
                font-weight: bold;
            }
        }

        nav {
            ol, ul {
                display: flex;
                list-style: none;
                align-items: center;

                li {
                    padding: 1em;

                    a {
                        text-decoration: none;
                        opacity: .66;
                        color: $color-primary;
                        font-size: 1.2em;
                    }
                }
            }
        }
    }

    .layout {
        max-width: 1350px;
        padding: 0 24px;
        text-align: left;
        margin: 0 auto;
    }

    footer {
        background: $color-base-secondary;
        color: $color-primary;

        .footer-wrapper {
            max-width: 1350px;
            display: flex;
            justify-content: space-between;
            text-align: left;
            margin: 0 auto;
            padding: 2em;

            .logo {
                margin: auto 0;
            }

            .footer-column-group {
                display: flex;
                flex-wrap: wrap;

                .footer-column {
                    padding: .5em 1em;
                    margin-left: auto;

                    ul, ol {
                        list-style: none;

                        li {
                            padding: 0.5em 0;

                            a {
                                text-decoration: none;
                                color: $color-kontent-orange;
                            }
                        }
                    }
                }
            }
        }
    }
}

h1, h2, h3, h4 {
    &.append-dot:after {
        content: '.';
        color: $color-kontent-orange;
    }

    font-weight: bold;
}

h1 {
    font-size: 32px;
    padding: 0 0 16px;

    @media screen and (min-width: 480px) {
        font-size: 48px;
        padding: 0 0 18px;
    }

    @media screen and (min-width: 740px) {
        font-size: 56px;
        padding: 0 0 24px;
    }

    @media screen and (min-width: 1280px) {
        font-size: 72px;
        padding: 0 0 36px;
    }
}

h2 {
    font-size: 24px;
    padding: 0 0 12px;

    @media screen and (min-width: 480px) {
        font-size: 32px;
        padding: 0 0 14px;
    }

    @media screen and (min-width: 740px) {
        font-size: 36px;
        padding: 0 0 16px;
    }

    @media screen and (min-width: 1280px) {
        font-size: 56px;
        padding: 0 0 24px;
    }
}

h3 {
    font-size: 20px;
    padding: 16px 0 16px;

    @media screen and (min-width: 480px) {
        font-size: 24px;
        padding: 20px 0 20px;
    }

    @media screen and (min-width: 740px) {
        font-size: 28px;
        padding: 24px 0 24px;
    }

    @media screen and (min-width: 1280px) {
        font-size: 32px;
        padding: 32px 0 32px;
    }
}

.button {

    &.cta {
        margin: 2em 1em;

        &.center {
            text-align: center;
        }
    }

    a {
        color: $color-primary;
        border-color: $color-primary;
        border: solid 2px;
        border-radius: 25px;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        background-color: transparent;
        line-height: 16px;
        font-size: 14px;
        text-transform: uppercase;
        font-weight: bold;
    }



    &.primary {
        a {
            color: $color-kontent-white;
            background-color: $color-kontent-orange;
            border: none;
            transition: background-color 0.5s;

            &:hover {
                background-color: $color-kontent-orange-dark;
            }
        }
    }

    &.secondary {
        a {
            color: $color-kontent-white;
            background-color: $color-kontent-red;
            border: none;
        }
    }
}

.orange {
    color: $color-kontent-orange;
}

a {
    color: $color-kontent-orange;
    transition: color 0.5s;

    &:hover {
        color: $color-kontent-orange-dark;
        text-decoration: none;
    }
}

p {
    line-height: 1.5;
    letter-spacing: 0;
    padding: .5em 0;
}

strong {
    font-weight: bold;
}

.code-snippet {
    /*.code-snippet {
        width: 80%;
        margin: auto;
    }*/
    .command-line-prompt {
        span::before {
            color: $color-kontent-red;
        }
    }

    :not(pre) > code[class*="language-"],
    pre[class*="language-"] {
        border: solid 1px $color-primary;
    }
}

table {
    margin: auto;

    tbody {

        & > tr:first-child {
            border-bottom: 1px $color-secondary solid;
            line-height: 3em;
        }

        & > tr:nth-child(2) {
            height: 5em;

            td {
                vertical-align: bottom;
            }
        }

        tr, td {
            padding: 1em;
        }
    }

    @media screen and (max-width: 480px) {
        font-size: 14px;

        tbody {

            & > tr:first-child {
                line-height: 1.5em;
            }

            & > tr:nth-child(2) {
                height: 3em;

                td {
                    vertical-align: bottom;
                }
            }

            tr, td {
                padding: 0.5em;
            }
        }
    }

    @media screen and (max-width: 400px) {
        font-size: 12px;
    }
}
