/// <reference path="_variables.scss" />

html, body {
    margin: 0;
    padding: 0;
    font-family: $typography-font-family;
    text-align: center;
    overflow-x: hidden;
    background-color: $color-base;
    color: $color-primary;

    &.dark {
        background-color: $color-dark-base;
        color: $color-dark-primary;

        footer {
            background-color: $color-dark-base-secondary;
            color: $color-dark-primary;
        }
    }

    header {
        max-width: 1350px;
        padding: 0 24px;
        text-align: left;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;

        .logo {
            padding: 1em;
        }

        nav {
            ol, ul {
                display: flex;
                list-style: none;
                align-items: center;

                li {
                    padding: .5em;

                    a {
                        text-decoration: none;
                        color: $color-kontent-orange;
                    }
                }
            }
        }
    }

    .layout {
        max-width: 1350px;
        padding: 0 24px;
        text-align: left;
        margin: 0 auto;
    }

    footer {
        background: $color-base-secondary;
        color: $color-primary;

        .footer-wrapper {
            max-width: 1350px;
            display: flex;
            justify-content: space-between;
            text-align: left;
            margin: 0 auto;
            padding: 2em;

            .footer-column-group {
                display: flex;

                .footer-column {
                    padding: .5em 1em;

                    ul, ol {
                        list-style: none;

                        li {
                            padding: 0.5em 0;

                            a {
                                text-decoration: none;
                                color: $color-kontent-orange;
                            }
                        }
                    }
                }
            }
        }
    }
}

h1, h2, h3, h4 {
    &.append-dot:after {
        content: '.';
        color: $color-kontent-orange;
    }
    font-weight: bold;
}

h1 {
    font-size: 32px;
    padding: 0 0 16px;

    @media screen and (min-width: 480px) {
        font-size: 48px;
        padding: 0 0 18px;
    }

    @media screen and (min-width: 740px) {
        font-size: 56px;
        padding: 0 0 24px;
    }

    @media screen and (min-width: 1280px) {
        font-size: 72px;
        padding: 0 0 36px;
    }
}

h2 {
    font-size: 24px;
    padding: 0 0 12px;

    @media screen and (min-width: 480px) {
        font-size: 32px;
        padding: 0 0 14px;
    }

    @media screen and (min-width: 740px) {
        font-size: 36px;
        padding: 0 0 16px;
    }

    @media screen and (min-width: 1280px) {
        font-size: 56px;
        padding: 0 0 24px;
    }
}

h3 {
    font-size: 20px;
    padding: 0 0 16px;

    @media screen and (min-width: 480px) {
        font-size: 24px;
        padding: 0 0 20px;
    }

    @media screen and (min-width: 740px) {
        font-size: 28px;
        padding: 0 0 24px;
    }

    @media screen and (min-width: 1280px) {
        font-size: 32px;
        padding: 0 0 32px;
    }
}

.button {
    a {
        background-color: $color-kontent-orange;
        border: none;
        color: $color-kontent-white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        text-transform: uppercase;
        font-weight: bold;
    }
}

.orange {
    color: $color-kontent-orange;
}

.orange-lists {
    // https://www.w3schools.com/howto/howto_css_bullet_color.asp
    ul {
        margin: .5em 0 .5em 1em;

        li {
            line-height: 1.5;

            &::before {
                content: "\25AA";
                color: $color-kontent-orange;
                font-weight: bold;
                display: inline-block;
                width: 1em;
                margin-left: -1em
            }
        }
    }
    // https://www.w3.org/Style/Examples/007/color-bullets.en.html
    ol {
        margin: .5em 0 .5em 1.5em;

        li {
            counter-increment: li;
            line-height: 1.5;

            &::before {
                content: counter(li) ".";
                color: $color-kontent-orange;
                display: inline-block;
                width: 1.5em;
                margin-left: -1.5em;
            }
        }
    }
}

a {
    color:$color-kontent-orange;
}
