/// <reference path="_variables.scss" />

article {
    .summary {
        width: 80%;
        padding-bottom: 3em;
        font-size: large;

        .cta-container {
            display: flex;
            margin-top: 2em;

            .cta {

            }
        }
    }


    section {
        display: flex;
        margin: 0 0 48px;
        min-height: 300px;

        &.two-columns {
            div {
                width: 50%;

                &.content {
                    padding: 0 1.5em;

                    p {
                        line-height: 1.3;
                    }
                }

                &.image {
                    display: flex;
                    align-items: center;
                    align-content: center;
                    justify-content: center;


                    img {
                        max-width: 100%;
                    }
                }
            }
        }
    }
}
