/// <reference path="_variables.scss" />

article {
    padding-top: 5em;

    .summary {
        width: 80%;
        font-size: large;

        p {
            line-height: 1.5em;
            letter-spacing: 0;
            padding-bottom: 1em;
        }

        .cta-container {
            display: flex;
        }
    }

    section {
        padding-top: 8em;
    }

    figure.logo.inline {
        width: 15em;
        a, img {
            width: inherit;
        }
    }

    .flex-row {
        display: flex;
        flex-direction: row;
        align-items: stretch;


        & > .content {
            width: 100%;

            .title {
                text-align: center;
            }
        }
    }

    .flex {
        display: flex;
        min-height: 300px;

        & > div {
            flex-grow: 1;
            flex-basis: 1em;

            &.content {
                padding: 0 1.5em;
                max-width: 40%;

                p {
                    line-height: 1.3;
                    letter-spacing: 0;
                }
            }
        }

        & > figure {
            display: flex;
            align-items: center;
            align-content: center;
            justify-content: center;
            flex-direction: column;
            flex-grow: 1;
            flex-basis: 1em;

            img {
                max-width: 100%;
            }

            figcaption {
                line-height: 2;
            }
        }
    }
}
