/// <reference path="_variables.scss" />

article {
    padding-top: 5em;

    @media screen and (max-width: 790px) {
        padding-top: 3em;
    }

    .summary {
        width: 80%;
        font-size: large;

        p {
            line-height: 1.5em;
            letter-spacing: 0;
            padding-bottom: 1em;
        }

        .cta-container {
            display: flex;
        }
    }

    section {
        padding-top: 12em;

        @media screen and (max-width: 1024px) {
            padding-top: 10em;
        }


        @media screen and (max-width: 790px) {
            padding-top: 6.5em;
        }

        @media screen and (max-width: 550px) {
            padding-top: 4em;
        }
    }

    figure.logo {
        width: 200px;
        height: 6em;

        a {

            img {
                width: 200px;
                transition: all 0.5s;

                &:hover {
                    border-radius: 1em;
                    background: #FFFFFF10;
                }
            }
        }

        &.inline {

            a, img {
                width: inherit;
            }
        }
    }

    .flex-row {
        display: flex;
        flex-direction: column;

        & > .content {
            width: 80%;
            margin: auto;

            @media screen and (max-width: 1024px) {
                width: 100%;
            }

            .title {
                text-align: center;
            }
        }
    }

    .flex {
        display: flex;
        flex-wrap: wrap;

        & > div, & > figure {
            /* Responsive */
            min-width: 370px;

            @media screen and (max-width: 400px) {
                min-width: 200px;
                width: 80%;
            }
        }

        & > .flex > figure {
            min-width: unset;
        }

        & > div {
            flex-grow: 1;
            flex-basis: 1em;

            &.content {
                padding: 0 1.5em;
            }
        }

        & > figure {
            display: flex;
            align-items: center;
            align-content: center;
            justify-content: center;
            flex-direction: column;
            flex: 1 1 0px;

            @media screen and (max-width: 780px) {
                order: 2; /*needs to be add only for responsive mode*/
            }

            img, video, picture {
                padding: .5em;
                max-width: 100%;
            }


            figcaption {
                line-height: 2;
            }
        }
    }

    .spacer {
        margin: 2em;
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
