$typography-font-family: "GT Walsheim", sans-serif;

$color-base: #FFFFFF;
$color-primary: #231f20;
$color-secondary: #e75810;

$color-dark-base: #231f20;
$color-dark-primary: #FFFFFF;
$color-dark-secondary: #e75810;
