$typography-font-family: "GT Walsheim", sans-serif;

$color-base: #ffffff;
$color-base-secondary: #f4f4f4;
$color-primary: #231f20;
$color-secondary: #e75810;

$color-dark-base: #231f20;
$color-dark-base-secondary: #393637;
$color-dark-primary: #FFFFFF;
$color-dark-secondary: #e75810;

$color-kontent-orange: #F05A22;
