$typography-font-family: "GT Walsheim", sans-serif;

// https://brand.kentico.com/d/RM4qopgyPvL2/guidelines#/visual/colors-1585555152

$color-kontent-orange: #F05A22;
$color-kontent-green: #2C9E7E;
$color-kontent-blue: #3553B8;
$color-kontent-purple: #7D3F9C;
$color-kontent-red: #B72929;

$color-kontent-black-100: #231F20;
$color-kontent-black-50: #918F8F;
$color-kontent-black-20: #D3D2D2;
$color-kontent-black-10: #E9E8E8;
$color-kontent-white: #FFFFFF;

$color-base: $color-kontent-white;
$color-base-secondary: $color-kontent-black-10;
$color-primary: $color-kontent-black-100;
$color-secondary: $color-kontent-orange;

$color-dark-base: $color-kontent-black-100;
$color-dark-base-secondary: #393637;
$color-dark-primary: $color-kontent-white;
$color-dark-secondary: $color-kontent-orange;