@model ImageAsset

<div class="image">
    <img src="@Model.Image.FirstOrDefault()?.Url" srcset="@Model.Image.FirstOrDefault()?.Url" alt="Model.Image.FirstOrDefault()?.Description" loading="lazy">
    <p class="label">@Model.Label</p>
</div>