@model Text

<div class="content">
    @if (!string.IsNullOrEmpty(Model.Title))
    {
        <h2 id="@Model.Title.GenerateAnchorIdentifier()" class="append-dot title">@Model.Title</h2>
    }


    @Html.DisplayFor(vm => vm.Content)

</div>